<section class="page-6" id="page-6">
    <div class="container-page6">
        <div class="image6">
            <img src="images/totemEnd.png" alt="statue">
        </div>
        <div class="main-page6">
            <h3>Want to stay in touch?</h3>
            <h1>NEWSLETTER SUBSCRIBE</h1>
            <p>In order to start receiving our news, all you have to do is enter your email address. Everything
                else will be taken care of by us. We will send you emails containing information about game. We
                don't spam.</p>
            <label for="email"></label>
            <input type="email" name="email" inputmode="email" placeholder="Your email address">
            <button type="submit" class="sub-btn">Subscribe now</button>
        </div>
    </div>
    <div class="footer-nav">
        <div class="foots-nav">
            <ul>
                <li><a href="#page-1" class="footnav-links">MAIN</a></li>
                <li><a href="#page-2" class="footnav-links">ABOUT</a></li>
                <li><a href="#page-3" class="footnav-links">GAME FEATURES</a></li>
                <li><a href="#page-4" class="footnav-links">SYSTEM REQUIREMENTS</a></li>
                <li><a href="#page-5" class="footnav-links">QUOTES</a></li>
            </ul>
        </div>

        <ul class="sosmed">
            <li>
                <i class="fab fa-facebook-f fa-lg"></i>
            </li>
            <li>
                <i class="fab fa-twitter fa-lg"></i>
            </li>
            <li>
                <i class="fab fa-youtube fa-lg"></i>
            </li>
            <li>
                <i class="fab fa-twitch fa-lg"></i>
            </li>
        </ul>

    </div>
    <div class="foot-copy">
        <p>© 2022 Your Game, Inc All Rights Reserved</p>
        <h3>PRIVACY POLICY | TERMS OF SERVICES | CODE OF CONDUCT</h3>
    </div>
</section>