<!-- PAGE 1 -->
<section class="page-1" id="page-1">
    <div class="content-1">
        <h1>PLAY TRADITIONAL GAME</h1>
        <p>Experience new traditional game play</p>
        <a href="/signUp">
            <button type="submit" class="play-btn">
                PLAY NOW
            </button>
        </a>
    </div>
    <div class="scrollpage">
        <a href="#page-2" class="scroll-link">
            THE STORY
            <i class="fas fa-angle-double-down"></i>
        </a>
    </div>
</section>

<!-- PAGE 2 -->
<section class="page-2" id="page-2">
    <div class="container-page2">
        <div class="text-container-page2">
            <div class="text-page2">
                <p>What's so special?</p>
                <h2>THE GAMES</h2>
            </div>

        </div>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                    aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/images/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="rock-paper">
                </div>
                <div class="carousel-item">
                    <img src="images/playerwin.jpg" class="d-block w-100" alt="player wins">
                </div>
                <div class="carousel-item">
                    <img src="images/comwin.jpg" class="d-block w-100" alt="computer wins">
                </div>
                <div class="carousel-item">
                    <img src="images/draw.jpg" class="d-block w-100" alt="draw">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

</section>

<!-- PAGE 3 -->
<section class="page-3" id="page-3">
    <div class="container-page3">
        <div class="text-page3">
            <p>What's so special?</p>
            <h2>FEATURES</h2>
        </div>
        <div class="list-page3">
            <ul>
                <li>
                    <h3>TRADITIONAL GAMES</h3>
                    <p>if you miss childhood, we provide many traditional games here</p>
                </li>
                <li>
                    <h3>GAME SUIT</h3>
                </li>
                <li>
                    <h3>TBD</h3>
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- PAGE 4 -->
<section class="page-4" id="page-4">
    <div class="container-page4">
        <p>Can My Computer Run this game?</p>
        <h2>SYSTEM REQUIREMENTS</h2>
        <div class="table-page4">
            <table>
                <tr>
                    <td>
                        <h3>OS:</h3>
                        <p>Windows 7 64-bit only (No OSX support at this time</p>
                    </td>
                    <td>
                        <h3>PROCESSOR:</h3>
                        <p>Intel Core 2 Duo @ 2.4 GHZ or AMD Athlon X2 @ 2.8 GHZ
                        <p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3>MEMORY:</h3>
                        <p>4 GB RAM</p>
                    </td>
                    <td>
                        <h3>STORAGE:</h3>
                        <p>8 GB available space</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <h3>
                            GRAPHICS:
                        </h3>
                        <p>NVIDIA GeForce GTX 660 2GB or AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>

<!-- PAGE 5 -->
<section class="page-5" id="page-5">
    <div class="container-page5">
        <div class="title-page5">
            <h2>TOP SCORES</h2>
            <p>This top score from various games provided on this platform</p>
            <a href="/topScores" class="score-btn">see more</a>
        </div>

        <div class="topscore-card">
            <div class="card1">
                <div class="headerCard1">
                    <img src="images/test1.jpg" alt="photo">
                    <div class="name1">
                        <h3>Evan Lathi</h3>
                        <p>PC Gamer</p>
                    </div>
                    <i class="fab fa-twitter"></i>
                </div>
                <div class="quotes1">
                    <p>"One of my gaming highlights of the year."</p>
                    <div class="date1">
                        <p>June 18, 2021</p>
                    </div>
                </div>
            </div>
            <div class="card2">
                <div class="headerCard2">
                    <img src="images/test2.jpg" alt="photo">
                    <div class="name2">
                        <h3>Jada Griffin</h3>
                        <p>Nerdreactor</p>
                    </div>
                    <i class="fab fa-twitter"></i>
                </div>
                <div class="quotes2">
                    <p>"The next big thing in the world of streaming and survival games."</p>
                    <div class="date2">
                        <p>July 10, 2021</p>
                    </div>
                </div>
            </div>
            <div class="card3">
                <div class="headerCard3">
                    <img src="images/test3.jpg" alt="photo">
                    <div class="name3">
                        <h3>Aaron Williams</h3>
                        <p>Uproxx</p>
                    </div>
                    <i class="fab fa-twitter"></i>
                </div>
                <div class="quotes3">
                    <p>"Snoop Dog Playing The Wildly Entertaining 'SOS' Is ridiculous."</p>
                    <div class="date3">
                        <p>December 24, 2018</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="comments">
            <a href="/comments">
                See More Comments
            </a>
        </div>
    </div>
</section>