<nav>
    <input type="checkbox" name="check-btn" id="check-btn">
    <label for="check-btn" class="check-btn">
        <i class="fas fa-bars fa-lg" id="nav-bur"></i>
    </label>
    <ul class="nav-links">
        <li><a class="nav-link" href="#page-1">HOME</a></li>
        <li><a class="nav-link" href="">WORK</a></li>
        <li><a class="nav-link" href="#page-6">CONTACT</a></li>
        <li><a class="nav-link" href="">ABOUT ME</a></li>
        <li><a class="nav-link" href="/signUp" id="sign-up">SIGN UP</a></li>
        <li><a class="nav-link" href="/signIn" id="sign-in">SIGN IN</a></li>
    </ul>
</nav>