<link rel="stylesheet" href="stylesheets/changePassword.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div class="sign-in-card">
    <div class="title">
        <h1>CHANGE PASSWORD</h1>
        <h3>Welcome to Traditional Game</h3>
    </div>

    <% if (alert) { %>
        <h5 class="alert">
            <%= alert %>
        </h5>
        <% } %>

            <form action="/changePassword" method="post">
                <div class="container">
                    <div class="email">
                        <i class="fa-solid fa-envelope"></i>
                        <input type="email" placeholder="Enter Email Address" name="email">
                    </div>
                    <div class="password">
                        <i class="fa-solid fa-lock lock"></i>
                        <input type="password" placeholder="Enter New Password" name="password" id="pass">
                    </div>
                    <div class="reWritePass">
                        <i class="fa-solid fa-lock lock"></i>
                        <input type="password" placeholder="Confirm New Password" name="confirm_password">
                    </div>

                    <button type="submit">SUBMIT</button>
                </div>
            </form>
</div>