<link rel="stylesheet" href="stylesheets/signUp.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


<div class="back">
    <a href="/welcome_player">
        <i class="fas fa-chevron-left fa-lg">
        </i>

    </a>
    <p>
        BACK
    </p>
</div>

<div class="sign-up-card">
    <div class="title">
        <h1>SIGN UP</h1>
        <h3>Game Account</h3>
    </div>

    <% if (alert) { %>
        <h5 class="alert">
            <%= alert %>
        </h5>
        <% } %>

            <form action="/signUp" method="post">
                <div class="container">
                    <div class="user">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" placeholder="Enter Username" name="user_name">
                    </div>
                    <div class="email">
                        <i class="fa-solid fa-envelope"></i>
                        <input type="email" placeholder="example@mail.com" name="email">
                    </div>

                    <div class="enterPass">
                        <i class="fa-solid fa-lock lock"></i>
                        <input type="password" placeholder="Enter Password" name="password">
                    </div>
                    <div class="reWritePass">
                        <i class="fa-solid fa-lock lock"></i>
                        <input type="password" placeholder="Confirm Password" name="confirm_password">
                    </div>


                    <button type="submit">SIGN UP</button>
                </div>
                <div class="sign-in">
                    <h4>Already have account ?</h4>
                    <a href="/signIn">
                        <h4>SIGN IN</h4>
                    </a>
                </div>
            </form>
</div>